body {
  width: 100%;
  align-content: center;
  justify-items: center;
}
#body {
  alignment: center;
  padding: 30px;
}
h1 {
  background-color: greenyellow;
  padding: 10px;
  align-content: center;
  width: 300px;
}